/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/*
/public/images/comentarios/*
/public/images/equipos/*
/public/images/img_video/*
/public/images/jugadores/*
/public/images/nosotros/*
/public/images/noticias/*
/public/images/sliders/*
/.idea
/.vagrant
/public/.sass-cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config/database.php
/.env
/composer.lock
/composer.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
